footer{
    /* width:88vw; */
    height:100vh;
    background-color: #FAFAFA;
    margin-left:12vw;
    position: relative;
    /* text-align: center; */
    overflow: hidden;
}


#footer_icon{
    width:30vw;
    height:20vh;
    position: absolute;
    top:40vh; 
    text-align: center;
    left:29vw;
}

#footer_icon img{
    width:100%;
}

.footer_circle{
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
}

.small{
    border:5px solid white;
    width:35vw;
    height:35vw;
    left:25vw;
    top:16vh;
}

.middle{
    border: 10px solid white;
    width: 40vw;
    height: 40vw;
    left:22vw;
    top:10vh;
}

.large{
    border: 5px solid white;
    width: 60vw;
    height: 60vw;   
    left:12vw;
    top:-10vh;
}