* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: 'Futura', 'Reem kufi', 'ヒラギノ角ゴシック', 'Hiragino Sans', 'メイリオ', 'Meiryo', sans-serif;
}


nav {
    width: 12vw;
    height: 100vh;
    position: fixed;
    background-color: #FFFFFF;
    z-index: 100;
    left: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
}

/* nav img{
    width : 90%;
    position: absolute;
    bottom: 200px;
    margin-left: 10px;
    margin-bottom: 20px;
} */

nav ul {
    width: 100%;
    list-style: none;
    padding: 0;
    margin-bottom: 2vh;
}

.nav_img {
    width: 90%;
}

nav li {
    margin: 0;
    height: 4vh;
    font-size: 1.5vw;
    position: relative;
    text-align: center;
    line-height: 4vh;
    transition-duration: 1s;
}

ul#main_nav li::before {
    content: "";
    display: block;
    width: 10px;
    height: 100%;
    position: absolute;
    left: 0;
    transition-duration: 1s;
    z-index: -1;
}

ul#main_nav li:hover::before {
    width: 90%;
    transition-duration: 1s;
}

.about_nav::before {
    background-color: #FA5D36;
}

.member_nav::before {
    background-color: #63B1FF;
}

.project_nav::before {
    background-color: #FFDF3F;
}

.contact_nav::before {
    background-color: #58E4A8;
}


ul#main_nav :hover {
    display: block;
    color: #FFFFFF;
    transition-duration: 1s;
}

/* .about_nav:hover{
    width:100%;
} */


.scroll {
    position: fixed;
    bottom: 3vh;
    left: 50vw;
    color: #FFFFFF;
    z-index: 99;
    text-align: center;
}

.scroll_bar {
    height: 5vh;
    width: 2px;
    background-color: #FFFFFF;
    margin-right: auto;
    margin-left: auto;
}


a {
    text-decoration: none;
    color: #000000;
    transition-duration: 1s;
}