main{
    /* width:88vw; */
    margin-left:12vw;
    display: flex;
    color:#FFFFFF;
}

#main_contents{
    flex-direction: column;
    width:60vw;
}

#main_img {
    width: 28vw;
    height: 100vh;
    z-index: 5;
    position: sticky;
    top: 0;
    float: left;
    z-index: 98;
}

#main_img img {
    width: 100%;
    height: 100vh;
}

.phrase{
    position: absolute;
    left: 13vw;
    z-index: 99;
    color:#FFFFFF;
    text-align: left !important;
}

.phrase h1{
    font-size:2em;
    letter-spacing: 3px;
}

.phrase span{
    display: block;
}

.main_circle {
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    border: 4px solid #FFFFFF;
    height:180px;
    width:360px;
    border-radius: 0 0 180px 180px;
    -moz-border-radius: 0 0 360px 360px;
    -webkit-border-radius: 0 0 360px 360px;
    border-top: none;
}