#member{
    width: 100%;
    background-color: #63B1FF;

}

#member h2{
    position: relative;
    text-align: center;
    top:-150px;
}
#member h2 span{
    display: block;
}


.member_list{
    width:53vw;
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    position: relative;
    /* padding: 0 40px 50px 40px; */
    margin: auto;
}

.person{
    height : 270px;
    width : 180px;
    /* background-color: bisque; */
    text-align: center;
    /* margin : 10px 10px 20px 10px; */
    margin:auto;
}

.person img{
    width :100%;
    border-radius: 50%;
}


.member_department{
    font-size: 12px;
}