#product {
    width: 100%;
}


.product_list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.product_cube {
    width: calc(100%/3);
    height: 20vw;
    background-color: #FFDF3F;
}

.center_cube {
    text-align: center;
    display: block;
    color: #FFFFFF;
}

.center_cube h3 {
    margin-top: 40%;
}



.product_detail{
    width: 100%;
    height: 100%;
    transition-duration:1s;
    position: relative;
}

.product_detail h4{
    display: block;
    position: absolute;
    bottom : 0;
}

.product_detail h4,.product_detail p{
    transition-duration:1s;
}

.little_cube{
    display: none;
    height:20%;
    width:20%;
    background-color: #FA5D36;
    position: absolute;
    bottom: 0;
    transition-duration:1s;
}

.product_cube :hover .little_cube{
    display: block;
    transition-duration:1s;
    opacity: 1;
}

.product_detail p, .product_detail h4{
    opacity: 0;
    text-align: left;
}

.product_detail:hover{
    background: rgba(0,0,0,0.6);    
}

.product_detail:hover p,.product_detail:hover h4 {
    opacity: 1;
}

.f_colle {
    background-image: url("../img/f_college.png");
    background-size: cover;
}

.sentakun {
    background-image: url("../img/sentakun.png");
    background-size: cover;
}

.recipippi {
    background-image: url("../img/recipippi.png");
    background-size: cover;
}

.product_cube span{
    display: block;
}