#project {
    width: 100%;

}


.project_list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.project_cube {
    width: calc(100%/3);
    height: 20vw;
    background-color: #FFDF3F;
}

.center_cube {
    text-align: center;
    display: block;
    color: #FFFFFF;
}

.center_cube h3 {
    margin-top: 40%;
}



.project_detail{
    width: 100%;
    height: 100%;
    transition-duration:1s;
}

.project_detail p, .project_detail h4{
    opacity: 0;
}

.project_detail:hover{
    background: rgba(0,0,0,0.6);    
}

.project_detail:hover p,.project_detail:hover h4 {
    opacity: 1;
}

.f_colle {
    background-image: url("../img/f_college.png");
    background-size: cover;
}

.sentakun {
    background-image: url("../img/sentakun.png");
    background-size: cover;
}

.recipippi {
    background-image: url("../img/recipippi.png");
    background-size: cover;
}

