header{
    width:100vw;
    height:100vh;
    background-image: url("img/Make_IT_background_wrap_1.png");
    background-size: cover;
}

/* header img{
    width:100vw;
    height:100vh;
    position: relative;
    z-index: 7;
} */

