main {
    width: 100vw;
}

#main_img {
    width: 40vw;
    height: 100vh;
    z-index: 5;
    position: sticky;
    top: 0;
    float: left;
}

#main_img img {
    width: 100%;
    height: 100vh;
}

.phrase {
    color: #FFFFFF;
    position: absolute;
    left: 12vw;
    margin-top: 14px;
    font-family: Century Gothic;
    z-index: 6;
}


.phrase span{
    display: block;
}




/* .circle{
    background-color: transparent;
    height: 260px;
    width:260px;
    border-radius: 50%;
    position: relative;
    top:-140px;
    left:770px;
    border:2px solid #FFFFFF;
} */

/* .intro_circle{
    background-color: transparent;
    height: 260px;
    width:260px;
    border-radius: 50%;
    position: relative;
    top:-140px;
    left:770px;
    border:2px solid #FFFFFF;
    z-index: 4;
} */

/* .member_circle{
    background-color: transparent;
    height: 260px;
    width:260px;
    border-radius: 50%;
    position: relative;
    top:-140px;
    left:770px;
    border:2px solid #FFFFFF;
    z-index: -1;
} */

