#project{
    background-color: bisque;
    width:100%;
    position: relative;
}

.project_list{
    width:60vw;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    left:40vw;
}

.project_cube{
    width:20vw;
    height:20vh;    
}