footer {
    /* width:88vw; */
    height: 100vh;
    background-color: #FAFAFA;
    margin-left: 12vw;
    position: relative;
    /* text-align: center; */
    overflow: hidden;
}


.footer_circle {
    background-color: transparent;
    border-radius: 50%;
}

.large {
    border: 5px solid white;
    width: calc(120vmin - 60px);
    height: calc(120vmin - 60px);
    position: relative;
    top: -5vmin;
    margin-right: auto;
    margin-left: auto;
}

.middle {
    border: 10px solid white;
    width : 70%;
    height : 70%;
    position: absolute;
    left : 15%;
    top : 15%;
}

.small{
    border:5px solid white;
    width : 88%;
    height : 88%;
    position: absolute;
    left : 6%;
    top : 6%;
}

#footer_icon{
    width : 80%;
    height : 50%;
    position: absolute;
    left : 12%;
    top : 35%;
    text-align: center;
}

#footer_icon img{
    width : 100%;
    margin-bottom : 20px;
}

#footer_icon span{
    font-weight: 700;
    font-size : 20px;
}