header{
    /* width:88vw; */
    height:100vh;
    margin-left: 12vw;
    background-image: url("../img/main_back_image.png");
    background-size: cover;
}

.triangle{
    display: none;
}

.inner, .clearfix{
    display: none;
}